.Interest-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Interest-header {
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: whitesmoke;
}

.Interest-button {
    position: relative;
    color: black;
    line-height: 75px;
    width: 20%;
    height: 80px;
    margin-top: 50px;

    font-weight: bold;

    background: #FFF500;
    border-radius: 20px;

    filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.25));
}

.Interest-button:hover {
    background: #cec70d;
    cursor: pointer;
}

.Interest-button:active {
    background: #b3a900;
}